<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated metamodel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ca.umontreal.geodes.meriem.cdeditor.metamodel.presentation.MetamodelModelWizardID"
            name="%_UI_MetamodelModelWizard_label"
            class="ca.umontreal.geodes.meriem.cdeditor.metamodel.presentation.MetamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MetamodelModelFile.gif">
         <description>%_UI_MetamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated metamodel -->
      <editor
            id="ca.umontreal.geodes.meriem.cdeditor.metamodel.presentation.MetamodelEditorID"
            name="%_UI_MetamodelEditor_label"
            icon="icons/full/obj16/MetamodelModelFile.gif"
            extensions="metamodel"
            class="ca.umontreal.geodes.meriem.cdeditor.metamodel.presentation.MetamodelEditor"
            contributorClass="ca.umontreal.geodes.meriem.cdeditor.metamodel.presentation.MetamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
